.caixa-botao{
    width: 100%;
    display: flex;
    justify-content: center;

}

button {
    width: 100%;
    max-width: 340px;
    height: 40px;
    padding: 5px;
    font-size: 1.3rem;
    border-radius: var(--borda-redonda);
    margin-bottom: 15px;
    color: var(--cor-principal);
    border: none;
    box-shadow: var(--luz);
}

