.card{
    width: 300px;
    flex: 0 0 300px;
    border: solid 1px var(--cinza-claro);
    box-shadow: var(--sombra);
    border-radius: var(--borda-redonda);
    background-color: rgba(255, 255, 255, 0.986);

}

.card:hover{
    transform: scale(1.02);
}

.card img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}


.infos{
    width: 100%;
    height: auto;
    padding: 10px;

}

.infos h2 {
    text-align: center;
        /* color: var(--cor-principal); */

}

.infos p{
    font-size: 1rem;
    /* color: var(--cor-principal); */
    color: #000;
}

.botoes-card{
    width: 100%;
    height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.codigo{
    background: var(--azul);
}