header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 20px;
        background: var(--cor-background);

    z-index: 1;
}

nav{
    width: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.logo{
    width: 200px;
    font-size: 2rem;
}



@media (min-width: 700px) {
   nav{
    width: 65%;
   }
}
