.projects{
    width: 80%;
    height: auto;
    padding: 40px;
    margin-top: 150px;
   display: flex;
   gap: 50px;
   overflow-x: auto;
   background: var(--cor-card);
    border-radius: var(--borda-redonda);
    margin-bottom: 30px;

}

