.container-projects {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.projects {
    width: 100%;
    height: auto;
    padding: 80px;
    margin-top: 10px;
    display: flex;
    flex: none;
    gap: 50px;
    overflow-x: auto;
    background: var(--cor-card);
    border-radius: var(--borda-redonda);
    margin-bottom: 30px;
}

.projects::-webkit-scrollbar {
    display: none;
}


.btn-next {
    position: absolute;
    right: 40%;
    bottom: 20px;
}

.btn-prev {
    left: 40%;
    bottom: 20px;
    position: absolute;
}

@media (min-width: 1200px) {
    .projects {
        width: 80%;
    }
}
