.container-tecs{
      width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.tecs{
    width: 95%;
    height: auto;
    padding: 40px;
    margin-top: 10px;
   display: flex;
   gap: 80px;
   overflow-x: auto;
   background: var(--cor-card);
    border-radius: var(--borda-redonda);
    margin-bottom: 30px;
}


.tecs::-webkit-scrollbar{
    display: none;
}





@media (min-width: 1200px){
    .tecs{
        width: 80%;
    }
}