.projetos-figma{
  
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}

.cards{
      width: 100%;
    height: auto;
    padding: 80px;
    margin-top: 10px;
    display: flex;
    flex: none;
    gap: 50px;
    overflow-x: auto;
    background: var(--cor-card);
    border-radius: var(--borda-redonda);
    margin-bottom: 30px;
}