* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
       
}

:root {
    --cor-background:#212121;
    --cor-card:#b9b9b928;
    --luz: 1px 2px 5px #d4d4d4;
    --sombra: 1px 4px 10px #242424;
    --borda-redonda: 10px;
    --cor-principal: #f0f0f0;
    --cor-texto-principal: #2e2e2e;
    --cinza-claro: #757575;
    --azul: #386ED3;
    --laranja:#FF5640;
  
}

body {
    width: 100vw;
    height: 100vh;
   
}

li {
    list-style: none;
}

a {
    text-decoration: none;
 color: var(--cor-principal);}
